{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}

<h1 class="text-center">Que le match commence ! </h1>

{{ form_start(form) }}
{{ form_widget(form) }}
    <input class="btn btn-primary" type="submit">
{{ form_end(form) }}



<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Nom de l'equipe </th>
        <th>Experience moyenne</th>
        <th>age moyen</th>
        <th>Fatigue moyenne</th>
        <th>Note de l'équipe</th>

    </tr>
    </thead>
    <tbody>
        {% for equipe in equipes %}
        <tr>
            <td>{{ equipe.nom }}</td>



        </tr>
        {% endfor %}

        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.fatigue }}</td>
                <td>{{ joueur.age }}</td>

            </tr>
        {% endfor %}


    </tbody>
    <tfoot></tfoot>
</table>

{% endblock %}