{% extends 'base.html.twig' %}
{% form_theme form_show 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Joueur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ joueur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ joueur.nom }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ joueur.experience }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ joueur.age }}</td>
            </tr>
            <tr>
                <th>Fatigue</th>
                <td>{{ joueur.fatigue }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ joueur.role }}</td>
            </tr>
            <tr>
                <th>Photo du joueur</th>
                <td><img src="{{ asset('upload/'~joueur.image|e)}}"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('joueur_index') }}">Retour à la liste des joueurs</a>
        </li>
        <li>
            <a href="{{ path('joueur_edit', { 'id': joueur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
