{% extends 'base.html.twig' %}

{% block body %}
    <h1>Joueur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ joueur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ joueur.nom }}
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('upload/' ~ joueur.photo) }}" class="img-responsive center-block" style="width: 20%">
                </td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ joueur.role }}</td>
            </tr>
            <tr>
                <th>Exp</th>
                <td>{{ joueur.exp }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ joueur.age }}</td>
            </tr>
            <tr>
                <th>Fatigue</th>
                <td>{{ joueur.fatigue }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('joueur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('joueur_edit', { 'id': joueur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
