{% extends 'QuidditchBundle:Default:index.html.twig' %}

{% block main %}
    <h1>Player list</h1>

    <table class="table table-responsive table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Xp</th>
                <th>Age</th>
                <th>Tiredness</th>
                <th>Role</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.name }}</td>
                <td>{{ player.xp }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.tiredness }}</td>
                <td>{{ player.role }}</td>
                <td><img src="{{ asset('avatar/'~player.avatar) }}" alt=""></td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="btn btn-default" href="{{ path('player_show', { 'id': player.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('player_edit', { 'id': player.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('player_new') }}">Créer un joueur</a>
        </li>
    </ul>
{% endblock %}
