{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team creation</h1>

    {{ form_start(form) }}
    <p>A team is made of : 1 gardien, 1 attrapeur, 2 batteurs and 3 poursuiveurs</p>
    <p>Max 7 players per team</p>
    {{ form_widget(form) }}
    {{ form_row(form.players) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('player_new') }}">New Player</a>
        </li>
        <li>
            <a href="{{ path('home') }}">Back to the stadium</a>
        </li>
    </ul>
{% endblock %}
