{% extends 'QuidditchBundle:Default:index.html.twig' %}

{% block main %}
    <h1>Team</h1>

    <table class="table table-responsive table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ team.country }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('team_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('team_edit', { 'id': team.id }) }}">Editer l'équipe</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
